<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Add Load</a>
      </li>
      <li class="breadcrumb-item active"><i class="fa fa-fw fa-plus-square-o"></i></li>
    </ol>
  </div>
  <!-- /.container-fluid-->
  <div class="container-fluid">
    <%if @success==true%>
    <div class="card-body">
      <div class="col-xl-6 col-sm-6 mb-3">
        <div class="card text-white bg-success o-hidden h-100">
          <div class="card-body">
            <div class="card-body-icon">
              <i class="fa fa-fw fa-check-square-o"></i>
            </div>
            <p></p><div class="mr-5">Load has been added to user</div><p></p>
          </div>
        </div>
      </div>
    </div>
    <%end%>
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          <%= render 'form_add_load'%>
        </div>
      </div>
    </div>
  </div>
