<div class="content-wrapper">
  <div class="container-fluid">
    <!-- Breadcrumbs-->
    <ol class="breadcrumb">
      <li class="breadcrumb-item">
        <a href="#">Edit Fare</a>
      </li>
      <li class="breadcrumb-item active"><i class="fa fa-fw fa-pencil-square"></i></li>
    </ol>
  </div>
  <!-- /.container-fluid-->
  <div class="container-fluid">
    <div class="card-body">
      <div class="row">
        <div class="col-lg-4">
          <%= render 'form_edit_transport_fare'%>
        </div>
      </div>
    </div>
  </div>
